<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.meumobi.mobiconf" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>D. Conf</name>
  <description>
        A Deloitte Conference
    </description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">
      Ionic Framework Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
	<!-- Do not auto hide splash on iOS -->
	<preference name="AutoHideSplashScreen" value="false" />
	<!-- Do not auto hide splash on Android -->
	<preference name="SplashScreenDelay" value="10000"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
	
	<gap:plugin name="org.apache.cordova.inappbrowser" />
	<gap:plugin name="nl.x-services.plugins.socialsharing" />
	<gap:plugin name="cordova-plugin-splashscreen" source="npm"/>
	
  <platform name="ios">
    <splash src="resources/ios/splash/Default-568h@2x~iphone.png" width="640" height="1136"/>
    <splash src="resources/ios/splash/Default-667h.png" width="750" height="1334"/>
    <splash src="resources/ios/splash/Default-736h.png" width="1242" height="2208"/>
    <splash src="resources/ios/splash/Default-Landscape-736h.png" width="2208" height="1242"/>
    <splash src="resources/ios/splash/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
    <splash src="resources/ios/splash/Default-Landscape~ipad.png" width="1024" height="768"/>
    <splash src="resources/ios/splash/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
    <splash src="resources/ios/splash/Default-Portrait~ipad.png" width="768" height="1024"/>
    <splash src="resources/ios/splash/Default@2x~iphone.png" width="640" height="960"/>
    <splash src="resources/ios/splash/Default~iphone.png" width="320" height="480"/>
  </platform>
	
	<!-- default mandatory icon 120x120px-->
	<icon src="icon.png" />

	<icon gap:platform="android" gap:qualifier="ldpi" src="res/icon/android/drawable-ldpi/ic_launcher.png" />
	<icon gap:platform="android" gap:qualifier="mdpi" src="res/icon/android/drawable-mdpi/ic_launcher.png" />
	<icon gap:platform="android" gap:qualifier="hdpi" src="res/icon/android/drawable-hdpi/ic_launcher.png" />
	<icon gap:platform="android" gap:qualifier="xhdpi" src="res/icon/android/drawable-xhdpi/ic_launcher.png" />
	<icon gap:platform="android" gap:qualifier="xxhdpi" src="res/icon/android/drawable-xxhdpi/ic_launcher.png" />
	<icon gap:platform="android" gap:qualifier="fr-xxhdpi" src="res/icon/android/drawable-xxxhdpi/ic_launcher.png" />
 
	<!-- ////////////////// iOS 7.0+ -->
	<!-- iPhone / iPod Touch  -->
	<!-- icon src="res/icon/ios/Icon-60.png" gap:platform="ios" width="60" height="60" /-->
	<icon src="res/icon/ios/AppIcon.appiconset/Icon-60@2x.png" gap:platform="ios" width="120" height="120" />

	<!-- iPad -->
	<icon src="res/icon/ios/AppIcon.appiconset/Icon-76.png" gap:platform="ios" width="76" height="76" />
	<icon src="res/icon/ios/AppIcon.appiconset/Icon-76@2x.png" gap:platform="ios" width="152" height="152" />

	<!-- Spotlight Icon -->
	<icon src="res/icon/ios/AppIcon.appiconset/Icon-40.png" gap:platform="ios" width="40" height="40" />
	<icon src="res/icon/ios/AppIcon.appiconset/Icon-40@2x.png" gap:platform="ios" width="80" height="80" />
	
	<!-- ////////////////// iOS 6.1 -->
	<!-- iPhone / iPod Touch -->
	<icon src="res/icon/ios/Icon.png" gap:platform="ios" width="57" height="57" />
	<icon src="res/icon/ios/Icon@2x.png" gap:platform="ios" width="114" height="114" />

	<!-- iPad -->
	<icon src="res/icon/ios/Icon-72.png" gap:platform="ios" width="72" height="72" />
	<icon src="res/icon/ios/Icon-72@2x.png" gap:platform="ios" width="144" height="144" />

	<!-- iPhone Spotlight and Settings Icon (iOS 6.1+) -->
	<icon src="res/icon/ios/AppIcon.appiconset/Icon-Small.png" gap:platform="ios" width="29" height="29" />
	<icon src="res/icon/ios/AppIcon.appiconset/Icon-Small@2x.png" gap:platform="ios" width="58" height="58" />

	<!-- iPad Spotlight and Settings Icon -->
	<icon src="res/icon/ios/Icon-Small-50.png" gap:platform="ios" width="50" height="50" />
	<icon src="res/icon/ios/Icon-Small-50@2x.png" gap:platform="ios" width="100" height="100" />
	
	<!-- default mandatory splash 320x480px-->
	<gap:splash src="screen.9.png" />
	<gap:splash gap:platform="android" gap:qualifier="ldpi" src="res/screen/android/drawable-ldpi/screen.9.png" />
	<gap:splash gap:platform="android" gap:qualifier="mdpi" src="res/screen/android/drawable-mdpi/screen.9.png" />
	<gap:splash gap:platform="android" gap:qualifier="hdpi" src="res/screen/android/drawable-hdpi/screen.9.png" />
	<gap:splash gap:platform="android" gap:qualifier="xhdpi" src="res/screen/android/drawable-xhdpi/screen.9.png" />
	<gap:splash gap:platform="android" gap:qualifier="xxhdpi" src="res/screen/android/drawable-xxhdpi/screen.9.png" />
</widget>